@media screen and (max-width: 860px) {
    .content-group-inputs__bio {
        flex-direction: column;
    }
    .content-group-inputs__name,
    .content-group-inputs__so-name {
       width: 100%;
    }
} 

@media screen and (max-width: 960px) {
    .content-form {
        max-width: 100%;
    }
    .content-group-inputs__name{
        padding: 0 ;
    }
}